.container {
    display: flex;
    justify-content: center;
    width: 85%;
}

@media (max-width:770px) {
    .container {
        width: 100%;
    }
}

.alart {
    width: auto;
    height: 10%;
    margin-top: 80px;
    color: rgb(0, 0, 0) !important;
}